.popup-right > p{
  padding-left: 60px;
  font-size: 30px;
}
.popup-image{
  height: 300px;
  width: 100%;
}
.popup-image-div{
  height: 200px;
  width: 200px;
  background: url('https://s.yimg.com/fz/api/res/1.2/v_hpqT08SzpHz1B8mAMZqg--~C/YXBwaWQ9c3JjaGRkO2ZpPWZpbGw7aD0yMjA7cT04MDt3PTE0Ng--/https://s.yimg.com/zb/imgv1/f8061aa9-eec5-3d18-8467-405e08e72859/t_1024x1024');
  border-radius: 50%;
  position: relative;
  top: 10%;
  left: 30%;
}
.name{
  padding-top: 40px;
  text-align: center;
  padding-left: 20px;
}
.send-1{
  position: relative;
  left: 250px;
  font-size: 16px;
  padding: 10px;
  background-color: white;
  width: fit-content;
  margin-bottom: 10px;
  border-radius: 10px;
}
