.popup-right > p{
  padding-left: 60px;
  font-size: 30px;
}
.popup-image{
  height: 300px;
  width: 100%;
}
.popup-image-div{
  height: 200px;
  width: 200px;
  background: url('https://s.yimg.com/fz/api/res/1.2/v_hpqT08SzpHz1B8mAMZqg--~C/YXBwaWQ9c3JjaGRkO2ZpPWZpbGw7aD0yMjA7cT04MDt3PTE0Ng--/https://s.yimg.com/zb/imgv1/f8061aa9-eec5-3d18-8467-405e08e72859/t_1024x1024');
  border-radius: 50%;
  position: relative;
  top: 10%;
  left: 30%;
}
.name{
  padding-top: 40px;
  text-align: center;
  padding-left: 20px;
}
.send-1{
  position: relative;
  left: 250px;
  font-size: 16px;
  padding: 10px;
  background-color: white;
  width: fit-content;
  margin-bottom: 10px;
  border-radius: 10px;
}

@media screen and (max-width: 800px){
  .popup-7 .overlay-7 {
    position:fixed;
    top:4%;
    left:337px;
    width:400px;
    height:90vh;
    z-index:1;
    display:none;
    background-color: grey;
  }
  .popup-7 .content-7 {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
      background:white;
    width:100%;
    max-width:1380px;
    height:677px;
    z-index:2;
    text-align:center;
    box-sizing:border-box;
    color: black;
    font-family:"Open Sans",sans-serif;
  }


  .popup-7 .closeBtn-7 {
    cursor:pointer;
    position:absolute;
    right:360px;
    top:33px;
    width:30px;
    height:30px;
    background:#222;
    color:#fff;
    font-size:25px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border-radius:50%;
  }
  .popup-7.active-7 .overlay-7 {
    display:block;
  }

  .popup-7.active-7 .content-7 {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
  }
  .popup-left-chat{
    display: none;
  }
  .all{
    width: 400px;
  }

}
